{% extends 'base.html' %}
{% block title %}Профайл пользователя{% endblock %}
{% block content %}
<div class="container py-5">        
  <h1>Все посты пользователя {{ username }} </h1>
  <h3>Всего постов: {{ number_posts }} </h3>   
  {% for post in page_obj%}
  <article>
    <ul>
      <li>
        Автор: {{ username }}
        <a href="">все посты пользователя</a>
      </li>
      <li>
        Дата публикации: {{ post.pub_date }}
      </li>
    </ul>
    <p>{{ post.text }}</p>
    <a href="">подробная информация </a>
    </article> 
    {% if post.group %}      
      <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
    {% endif %} 
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
     <!-- Остальные посты. после последнего нет черты -->
    {% include 'includes/paginator.html' %}
</div>
{% endblock%}